# 1. 클라우드 기능 끄기 (Config Server, Eureka 무시)
spring:
  cloud:
    config:
      enabled: false      # Config Server 접속 안 함
      discovery:
        enabled: false    # Discovery로 Config 찾기 안 함


  datasource:
    # 예시: MySQL 연결 설정
    url: jdbc:mysql://10.116.64.14:13306/project_be12_team5?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&rewriteBatchedStatements=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: project_be12_team5      # 실제 DB 아이디
    password: KFYUERgqkPF!r6    # 실제 DB 비밀번호

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: nhnacademy123!

# 2. Eureka Client 끄기
eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

# 3. 로컬 DB 설정

# 4. MinIO 설정 (하드코딩) -> Config Server가 죽었으니 여기서 직접 값을 줘야 함
minio:
  url: "http://storage.java21.net:8000"
  access-key: "iiRcN2oAPop4ezp3ZvmR"
  secret-key: "2wVro40kcE1s3w8kAOpc1uTyCwYKBV7LSraiKAuD"
  bucket-name: hi-five-bucket

elasticsearch:
  host: localhost
  port: 9200
  username: elastic
  password: nhnacademy123!

# RAG 벡터 검색을 위한 설정 추가
rag:
  index-name: book_embedding_index
  dim: 768      # BGE-M3 모델 벡터 차원
  similarity: cosine


gemini:
  api-key: "AIzaSyCy1yXEz7k0SAL3Xr1Abx2b4NFp4qUazbk"
  embedding-model: "models/text-embedding-004"

rag-search:
  top-k: 5
  rerank: false
  fields:
    - title
    - author
    - content

springdoc:
  api-docs:
    version: openapi_3_0
  swagger-ui:
    path: /swagger-ui.html


# 5. 서버 포트
server:
  port: 9003
logging:
  file:
    name: logs/book-server.log  # 1. 프로젝트 루트의 logs 폴더 안에 파일 생성
  logback:
    rollingpolicy:
      max-file-size: 10MB       # 2. 파일 하나가 10MB 넘으면 분리
      max-history: 7            # 3. 최대 7일치 로그 보관
  pattern:
    console: "%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" # 콘솔은 짧게
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" # 파일은 자세히
  level:
    root: INFO
    # 파서 쪽 로그는 WARN(경고) 이상일 때만 출력 (INFO 로그 숨김)
    com.nhnacademy.book_server.parser: WARN
    com.nhnacademy.book_server.service.DataParsingService: WARN


aladin:
  ttb-key : ttbminnie9089971045001


